In [96]:
fn = 'Abi-10-100m-Back.txt'
name, age, distance, stroke = fn.removesuffix(".txt").split("-")

In [97]:
name, age

('Abi', '10')

In [98]:
distance, stroke

('100m', 'Back')

In [99]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [100]:
first = files[0]
print(first)
name, age, _, _ = first.removesuffix(".txt").split("-")
name, age

Hannah-13-100m-Free.txt

('Hannah', '13')

In [101]:
# Don't be tempted to do this (i.e., don't use an f-string here).

SQL = f"""
    insert into swimmers
    (name, age)
    values
    ("{name}", {age})
"""
print(SQL)

    insert into swimmers
    (name, age)
    values
    ("Hannah", 13)

In [102]:
import DBcm

db_details = "CoachDB.sqlite3"

In [103]:
# Do this instead... use SQL Injection Attack safeguards with placeholders.

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""
print(SQL_INSERT)

    insert into swimmers
    (name, age)
    values
    (?, ?)

In [104]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age,))

In [105]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(2580, 'Hannah', 13),
 (2581, 'Darius', 13),
 (2582, 'Owen', 15),
 (2583, 'Mike', 15),
 (2584, 'Ruth', 13),
 (2585, 'Tasmin', 15),
 (2586, 'Erika', 15),
 (2587, 'Abi', 10),
 (2588, 'Maria', 9),
 (2589, 'Elba', 14),
 (2590, 'Ali', 12),
 (2591, 'Chris', 17),
 (2592, 'Aurora', 13),
 (2593, 'Katie', 9),
 (2594, 'Alison', 14),
 (2595, 'Emma', 13),
 (2596, 'Calvin', 9),
 (2597, 'Blake', 15),
 (2598, 'Bill', 18),
 (2599, 'Dave', 17),
 (2600, 'Lizzie', 14),
 (2601, 'Carl', 15),
 (2602, 'Hannah', 13)]

In [106]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [107]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [108]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [109]:
# for fn in files:
#     name, age, _, _ = fn.removesuffix(".txt").split("-")
#     with DBcm.UseDatabase(db_details) as db:
#         db.execute(SQL_INSERT, (name, age, ))

In [110]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")    
        db.execute(SQL_INSERT, (name, age, ))

In [111]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [112]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age,))

In [113]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """
    select * from events
    where distance = ? and stroke = ?
"""

SQL_INSERT = """
    insert into events
    (distance, stroke)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        _, _, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke,))

In [114]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [115]:
import DBcm

db_details = "CoachDB.sqlite3"

In [116]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(2661, 'Hannah', 13),
 (2662, 'Darius', 13),
 (2663, 'Owen', 15),
 (2664, 'Mike', 15),
 (2665, 'Ruth', 13),
 (2666, 'Tasmin', 15),
 (2667, 'Erika', 15),
 (2668, 'Abi', 10),
 (2669, 'Maria', 9),
 (2670, 'Elba', 14),
 (2671, 'Ali', 12),
 (2672, 'Chris', 17),
 (2673, 'Aurora', 13),
 (2674, 'Katie', 9),
 (2675, 'Alison', 14),
 (2676, 'Emma', 13),
 (2677, 'Calvin', 9),
 (2678, 'Blake', 15),
 (2679, 'Bill', 18),
 (2680, 'Dave', 17),
 (2681, 'Lizzie', 14),
 (2682, 'Carl', 15)]

In [117]:
SQL = """select * from events"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1, '100m', 'Free'),
 (2, '100m', 'Back'),
 (3, '100m', 'Fly'),
 (4, '200m', 'Free'),
 (5, '200m', 'Back'),
 (6, '50m', 'Free'),
 (7, '50m', 'Breast'),
 (8, '200m', 'IM'),
 (9, '100m', 'Breast'),
 (10, '400m', 'Free'),
 (11, '50m', 'Fly'),
 (12, '50m', 'Back'),
 (13, '200m', 'Breast')]

In [118]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_info(times)")
    results = db.fetchall()
results

[(0, 'swimmer_id', 'INTEGER', 1, None, 0),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'varchar(16)', 1, None, 0),
 (3, 'ts', 'timestamp', 1, 'current_timestamp', 0)]

In [119]:
# the above code checks the rows of the table 'times' define earlier in the code.

In [120]:
SQL_GET_SWIMMER = """
    select id from swimmers
    where name = ? and age = ?
"""

In [121]:
SQL_GET_EVENT = """
    select id from events
    where distance = ? and stroke = ?
"""

In [122]:
SQL_INSERT = """
    insert into times
    (swimmer_id, event_id, time)
    values
    (?, ?, ?)
"""

In [123]:
SQL = """select * from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(2580, 1, '1:21.43', '2025-01-26 06:18:09'),
 (2580, 1, '1:21.40', '2025-01-26 06:18:09'),
 (2580, 1, '1:21.62', '2025-01-26 06:18:09'),
 (2580, 1, '1:25.38', '2025-01-26 06:18:09'),
 (2581, 2, '1:22.57', '2025-01-26 06:18:09'),
 (2581, 2, '1:29.64', '2025-01-26 06:18:09'),
 (2581, 2, '1:20.39', '2025-01-26 06:18:09'),
 (2581, 2, '1:23.83', '2025-01-26 06:18:09'),
 (2582, 1, '1:15.57', '2025-01-26 06:18:09'),
 (2582, 1, '1:14.40', '2025-01-26 06:18:09'),
 (2582, 1, '1:19.82', '2025-01-26 06:18:09'),
 (2582, 1, '1:12.90', '2025-01-26 06:18:09'),
 (2583, 1, '1:02.52', '2025-01-26 06:18:09'),
 (2583, 1, '1:02.56', '2025-01-26 06:18:09'),
 (2583, 1, '1:06.41', '2025-01-26 06:18:09'),
 (2583, 1, '1:07.08', '2025-01-26 06:18:09'),
 (2583, 1, '1:02.56', '2025-01-26 06:18:09'),
 (2583, 1, '1:03.23', '2025-01-26 06:18:09'),
 (2583, 1, '1:04.54', '2025-01-26 06:18:09'),
 (2580, 2, '1:35.75', '2025-01-26 06:18:09'),
 (2580, 2, '1:32.78', '2025-01-26 06:18:09'),
 (2580, 2, '1:34.01', '2025-01-26 06:18:09'),
 (2580, 2, '1:32.57', '2025-01-26 06:18:09'),
 (2583, 2, '1:19.23', '2025-01-26 06:18:09'),
 (2583, 2, '1:13.70', '2025-01-26 06:18:09'),
 (2583, 2, '1:13.96', '2025-01-26 06:18:09'),
 (2583, 2, '1:15.94', '2025-01-26 06:18:09'),
 (2583, 3, '1:14.55', '2025-01-26 06:18:09'),
 (2583, 3, '1:14.15', '2025-01-26 06:18:09'),
 (2583, 3, '1:08.38', '2025-01-26 06:18:09'),
 (2583, 3, '1:08.74', '2025-01-26 06:18:09'),
 (2583, 3, '1:10.89', '2025-01-26 06:18:09'),
 (2583, 3, '1:09.47', '2025-01-26 06:18:09'),
 (2583, 3, '1:09.52', '2025-01-26 06:18:09'),
 (2583, 3, '1:09.86', '2025-01-26 06:18:09'),
 (2583, 3, '1:09.83', '2025-01-26 06:18:09'),
 (2584, 4, '2:22.64', '2025-01-26 06:18:09'),
 (2584, 4, '2:28.16', '2025-01-26 06:18:09'),
 (2584, 4, '2:28.38', '2025-01-26 06:18:09'),
 (2584, 4, '2:25.08', '2025-01-26 06:18:09'),
 (2584, 4, '2:25.64', '2025-01-26 06:18:09'),
 (2584, 4, '2:33.58', '2025-01-26 06:18:09'),
 (2585, 2, '1:19.63', '2025-01-26 06:18:09'),
 (2585, 2, '1:16.69', '2025-01-26 06:18:09'),
 (2585, 2, '1:19.68', '2025-01-26 06:18:09'),
 (2585, 2, '1:16.56', '2025-01-26 06:18:09'),
 (2586, 1, '1:19.04', '2025-01-26 06:18:09'),
 (2586, 1, '1:15.88', '2025-01-26 06:18:09'),
 (2586, 1, '1:18.62', '2025-01-26 06:18:09'),
 (2586, 1, '1:21.74', '2025-01-26 06:18:09'),
 (2584, 5, '2:56.68', '2025-01-26 06:18:09'),
 (2584, 5, '2:42.63', '2025-01-26 06:18:09'),
 (2584, 5, '2:40.90', '2025-01-26 06:18:09'),
 (2584, 5, '2:42.88', '2025-01-26 06:18:09'),
 (2584, 5, '2:46.09', '2025-01-26 06:18:09'),
 (2587, 6, '39.07', '2025-01-26 06:18:09'),
 (2587, 6, '37.66', '2025-01-26 06:18:09'),
 (2587, 6, '36.13', '2025-01-26 06:18:09'),
 (2587, 6, '39.42', '2025-01-26 06:18:09'),
 (2588, 6, '45.75', '2025-01-26 06:18:09'),
 (2588, 6, '41.62', '2025-01-26 06:18:09'),
 (2588, 6, '40.49', '2025-01-26 06:18:09'),
 (2588, 6, '41.00', '2025-01-26 06:18:09'),
 (2589, 1, '1:06.01', '2025-01-26 06:18:09'),
 (2589, 1, '1:06.93', '2025-01-26 06:18:09'),
 (2589, 1, '1:05.34', '2025-01-26 06:18:09'),
 (2589, 1, '1:06.10', '2025-01-26 06:18:09'),
 (2585, 1, '1:08.87', '2025-01-26 06:18:09'),
 (2585, 1, '1:07.34', '2025-01-26 06:18:09'),
 (2585, 1, '1:11.00', '2025-01-26 06:18:09'),
 (2585, 1, '1:08.62', '2025-01-26 06:18:09'),
 (2585, 1, '1:10.94', '2025-01-26 06:18:09'),
 (2585, 1, '1:09.52', '2025-01-26 06:18:09'),
 (2585, 1, '1:12.04', '2025-01-26 06:18:09'),
 (2585, 1, '1:10.91', '2025-01-26 06:18:09'),
 (2587, 2, '1:31.59', '2025-01-26 06:18:09'),
 (2587, 2, '1:26.55', '2025-01-26 06:18:09'),
 (2587, 2, '1:28.75', '2025-01-26 06:18:09'),
 (2587, 2, '1:39.79', '2025-01-26 06:18:09'),
 (2587, 2, '1:32.37', '2025-01-26 06:18:09'),
 (2587, 7, '48.08', '2025-01-26 06:18:09'),
 (2587, 7, '53.17', '2025-01-26 06:18:09'),
 (2587, 7, '45.76', '2025-01-26 06:18:09'),
 (2587, 7, '49.28', '2025-01-26 06:18:09'),
 (2587, 7, '52.85', '2025-01-26 06:18:09'),
 (2587, 7, '46.19', '2025-01-26 06:18:09'),
 (2587, 7, '47.76', '2025-01-26 06:18:09'),
 (2587, 7, '48.83', '2025-01-26 06:18:09'),
 (2587, 7, '45.71', '2025-01-26 06:18:09'),
 (2587, 7, '47.76', '2025-01-26 06:18:09'),
 (2583, 8, '2:48.05', '2025-01-26 06:18:09'),
 (2583, 8, '2:44.03', '2025-01-26 06:18:09'),
 (2583, 8, '2:38.93', '2025-01-26 06:18:09'),
 (2583, 8, '2:54.86', '2025-01-26 06:18:09'),
 (2590, 2, '1:36.54', '2025-01-26 06:18:09'),
 (2590, 2, '1:39.10', '2025-01-26 06:18:09'),
 (2590, 2, '1:39.45', '2025-01-26 06:18:09'),
 (2590, 2, '1:42.87', '2025-01-26 06:18:09'),
 (2584, 2, '1:17.16', '2025-01-26 06:18:09'),
 (2584, 2, '1:16.65', '2025-01-26 06:18:09'),
 (2584, 2, '1:23.11', '2025-01-26 06:18:09'),
 (2584, 2, '1:14.37', '2025-01-26 06:18:09'),
 (2584, 2, '1:18.16', '2025-01-26 06:18:09'),
 (2584, 2, '1:18.28', '2025-01-26 06:18:09'),
 (2584, 2, '1:16.87', '2025-01-26 06:18:09'),
 (2584, 2, '1:17.37', '2025-01-26 06:18:09'),
 (2584, 2, '1:20.46', '2025-01-26 06:18:09'),
 (2591, 2, '1:21.76', '2025-01-26 06:18:09'),
 (2591, 2, '1:23.32', '2025-01-26 06:18:09'),
 (2591, 2, '1:24.09', '2025-01-26 06:18:09'),
 (2591, 2, '1:21.51', '2025-01-26 06:18:09'),
 (2590, 1, '1:27.31', '2025-01-26 06:18:09'),
 (2590, 1, '1:27.00', '2025-01-26 06:18:09'),
 (2590, 1, '1:27.46', '2025-01-26 06:18:09'),
 (2590, 1, '1:22.50', '2025-01-26 06:18:09'),
 (2590, 1, '1:20.39', '2025-01-26 06:18:09'),
 (2590, 1, '1:26.04', '2025-01-26 06:18:09'),
 (2590, 1, '1:20.22', '2025-01-26 06:18:09'),
 (2581, 9, '1:30.24', '2025-01-26 06:18:09'),
 (2581, 9, '1:33.18', '2025-01-26 06:18:09'),
 (2581, 9, '1:32.73', '2025-01-26 06:18:09'),
 (2581, 9, '1:33.05', '2025-01-26 06:18:09'),
 (2581, 9, '1:30.81', '2025-01-26 06:18:09'),
 (2581, 9, '1:31.74', '2025-01-26 06:18:09'),
 (2581, 9, '1:31.53', '2025-01-26 06:18:09'),
 (2581, 9, '1:33.05', '2025-01-26 06:18:09'),
 (2584, 1, '1:07.99', '2025-01-26 06:18:09'),
 (2584, 1, '1:11.87', '2025-01-26 06:18:09'),
 (2584, 1, '1:11.08', '2025-01-26 06:18:09'),
 (2584, 1, '1:09.75', '2025-01-26 06:18:09'),
 (2592, 6, '30.05', '2025-01-26 06:18:09'),
 (2592, 6, '30.21', '2025-01-26 06:18:09'),
 (2592, 6, '28.86', '2025-01-26 06:18:09'),
 (2592, 6, '30.65', '2025-01-26 06:18:09'),
 (2592, 6, '30.03', '2025-01-26 06:18:09'),
 (2592, 6, '29.64', '2025-01-26 06:18:09'),
 (2592, 6, '29.82', '2025-01-26 06:18:09'),
 (2593, 9, '1:50.10', '2025-01-26 06:18:09'),
 (2593, 9, '1:47.12', '2025-01-26 06:18:09'),
 (2593, 9, '1:54.65', '2025-01-26 06:18:09'),
 (2593, 9, '1:51.03', '2025-01-26 06:18:09'),
 (2594, 9, '1:34.71', '2025-01-26 06:18:09'),
 (2594, 9, '1:37.87', '2025-01-26 06:18:09'),
 (2594, 9, '1:35.15', '2025-01-26 06:18:09'),
 (2594, 9, '1:37.20', '2025-01-26 06:18:09'),
 (2594, 9, '1:36.29', '2025-01-26 06:18:09'),
 (2594, 9, '1:36.00', '2025-01-26 06:18:09'),
 (2594, 9, '1:35.63', '2025-01-26 06:18:09'),
 (2594, 9, '1:35.42', '2025-01-26 06:18:09'),
 (2594, 9, '1:42.01', '2025-01-26 06:18:09'),
 (2584, 10, '5:11.32', '2025-01-26 06:18:09'),
 (2584, 10, '5:04.12', '2025-01-26 06:18:09'),
 (2584, 10, '5:20.67', '2025-01-26 06:18:09'),
 (2584, 10, '5:08.31', '2025-01-26 06:18:09'),
 (2584, 10, '5:04.32', '2025-01-26 06:18:09'),
 (2584, 10, '5:06.77', '2025-01-26 06:18:09'),
 (2584, 10, '5:13.01', '2025-01-26 06:18:09'),
 (2595, 1, '1:32.21', '2025-01-26 06:18:09'),
 (2595, 1, '1:33.68', '2025-01-26 06:18:09'),
 (2595, 1, '1:34.10', '2025-01-26 06:18:09'),
 (2595, 1, '1:28.57', '2025-01-26 06:18:09'),
 (2596, 11, '39.47', '2025-01-26 06:18:09'),
 (2596, 11, '37.30', '2025-01-26 06:18:09'),
 (2596, 11, '41.90', '2025-01-26 06:18:09'),
 (2596, 11, '42.85', '2025-01-26 06:18:09'),
 (2596, 11, '39.90', '2025-01-26 06:18:09'),
 (2596, 11, '38.66', '2025-01-26 06:18:09'),
 (2596, 11, '38.84', '2025-01-26 06:18:09'),
 (2596, 11, '37.65', '2025-01-26 06:18:09'),
 (2596, 11, '39.68', '2025-01-26 06:18:09'),
 (2596, 11, '37.18', '2025-01-26 06:18:09'),
 (2596, 11, '43.61', '2025-01-26 06:18:09'),
 (2583, 4, '2:19.77', '2025-01-26 06:18:09'),
 (2583, 4, '2:41.57', '2025-01-26 06:18:09'),
 (2583, 4, '2:27.88', '2025-01-26 06:18:09'),
 (2583, 4, '2:37.28', '2025-01-26 06:18:09'),
 (2595, 9, '2:01.15', '2025-01-26 06:18:09'),
 (2595, 9, '1:57.86', '2025-01-26 06:18:09'),
 (2595, 9, '1:59.38', '2025-01-26 06:18:09'),
 (2595, 9, '1:57.94', '2025-01-26 06:18:09'),
 (2595, 9, '1:56.97', '2025-01-26 06:18:09'),
 (2585, 9, '1:20.59', '2025-01-26 06:18:09'),
 (2585, 9, '1:26.48', '2025-01-26 06:18:09'),
 (2585, 9, '1:24.15', '2025-01-26 06:18:09'),
 (2585, 9, '1:21.96', '2025-01-26 06:18:09'),
 (2597, 1, '1:02.13', '2025-01-26 06:18:09'),
 (2597, 1, '1:03.25', '2025-01-26 06:18:09'),
 (2597, 1, '1:04.16', '2025-01-26 06:18:09'),
 (2597, 1, '1:03.17', '2025-01-26 06:18:09'),
 (2597, 1, '1:04.84', '2025-01-26 06:18:09'),
 (2597, 1, '1:03.88', '2025-01-26 06:18:09'),
 (2597, 1, '1:04.87', '2025-01-26 06:18:09'),
 (2587, 9, '1:42.97', '2025-01-26 06:18:09'),
 (2587, 9, '1:43.31', '2025-01-26 06:18:09'),
 (2587, 9, '1:43.50', '2025-01-26 06:18:09'),
 (2587, 9, '1:40.34', '2025-01-26 06:18:09'),
 (2591, 9, '1:28.86', '2025-01-26 06:18:09'),
 (2591, 9, '1:29.90', '2025-01-26 06:18:09'),
 (2591, 9, '1:28.12', '2025-01-26 06:18:09'),
 (2591, 9, '1:28.67', '2025-01-26 06:18:09'),
 (2597, 2, '1:12.71', '2025-01-26 06:18:09'),
 (2597, 2, '1:19.87', '2025-01-26 06:18:09'),
 (2597, 2, '1:14.94', '2025-01-26 06:18:09'),
 (2597, 2, '1:11.53', '2025-01-26 06:18:09'),
 (2597, 2, '1:14.94', '2025-01-26 06:18:09'),
 (2598, 5, '2:29.06', '2025-01-26 06:18:09'),
 (2598, 5, '2:21.49', '2025-01-26 06:18:09'),
 (2598, 5, '2:24.13', '2025-01-26 06:18:09'),
 (2598, 5, '2:29.40', '2025-01-26 06:18:09'),
 (2581, 8, '3:03.84', '2025-01-26 06:18:09'),
 (2581, 8, '3:04.27', '2025-01-26 06:18:09'),
 (2581, 8, '3:01.49', '2025-01-26 06:18:09'),
 (2581, 8, '3:04.27', '2025-01-26 06:18:09'),
 (2581, 8, '2:52.44', '2025-01-26 06:18:09'),
 (2599, 1, '59.21', '2025-01-26 06:18:09'),
 (2599, 1, '59.27', '2025-01-26 06:18:09'),
 (2599, 1, '58.67', '2025-01-26 06:18:09'),
 (2599, 1, '59.72', '2025-01-26 06:18:09'),
 (2599, 1, '59.17', '2025-01-26 06:18:09'),
 (2594, 1, '1:13.86', '2025-01-26 06:18:09'),
 (2594, 1, '1:12.00', '2025-01-26 06:18:09'),
 (2594, 1, '1:14.69', '2025-01-26 06:18:09'),
 (2594, 1, '1:10.01', '2025-01-26 06:18:09'),
 (2594, 1, '1:12.24', '2025-01-26 06:18:09'),
 (2594, 1, '1:11.00', '2025-01-26 06:18:09'),
 (2594, 1, '1:11.20', '2025-01-26 06:18:09'),
 (2594, 1, '1:12.28', '2025-01-26 06:18:09'),
 (2594, 1, '1:15.46', '2025-01-26 06:18:09'),
 (2594, 1, '1:16.03', '2025-01-26 06:18:09'),
 (2600, 1, '1:21.08', '2025-01-26 06:18:09'),
 (2600, 1, '1:11.23', '2025-01-26 06:18:09'),
 (2600, 1, '1:12.46', '2025-01-26 06:18:09'),
 (2600, 1, '1:16.73', '2025-01-26 06:18:09'),
 (2593, 11, '40.11', '2025-01-26 06:18:09'),
 (2593, 11, '45.43', '2025-01-26 06:18:09'),
 (2593, 11, '50.17', '2025-01-26 06:18:09'),
 (2593, 11, '43.58', '2025-01-26 06:18:09'),
 (2593, 11, '52.61', '2025-01-26 06:18:09'),
 (2593, 7, '47.44', '2025-01-26 06:18:09'),
 (2593, 7, '52.32', '2025-01-26 06:18:09'),
 (2593, 7, '57.16', '2025-01-26 06:18:09'),
 (2593, 7, '56.77', '2025-01-26 06:18:09'),
 (2593, 12, '43.25', '2025-01-26 06:18:09'),
 (2593, 12, '47.35', '2025-01-26 06:18:09'),
 (2593, 12, '46.12', '2025-01-26 06:18:09'),
 (2593, 12, '45.69', '2025-01-26 06:18:09'),
 (2600, 2, '1:27.10', '2025-01-26 06:18:09'),
 (2600, 2, '1:26.21', '2025-01-26 06:18:09'),
 (2600, 2, '1:26.42', '2025-01-26 06:18:09'),
 (2600, 2, '1:35.79', '2025-01-26 06:18:09'),
 (2600, 2, '1:30.47', '2025-01-26 06:18:09'),
 (2585, 13, '2:54.14', '2025-01-26 06:18:09'),
 (2585, 13, '3:03.58', '2025-01-26 06:18:09'),
 (2585, 13, '3:02.43', '2025-01-26 06:18:09'),
 (2585, 13, '2:57.99', '2025-01-26 06:18:09'),
 (2593, 6, '38.94', '2025-01-26 06:18:09'),
 (2593, 6, '37.76', '2025-01-26 06:18:09'),
 (2593, 6, '41.83', '2025-01-26 06:18:09'),
 (2593, 6, '42.81', '2025-01-26 06:18:09'),
 (2599, 5, '2:35.46', '2025-01-26 06:18:09'),
 (2599, 5, '2:28.30', '2025-01-26 06:18:09'),
 (2599, 5, '2:35.35', '2025-01-26 06:18:09'),
 (2599, 5, '2:28.84', '2025-01-26 06:18:09'),
 (2586, 13, '3:27.51', '2025-01-26 06:18:09'),
 (2586, 13, '3:34.70', '2025-01-26 06:18:09'),
 (2586, 13, '3:27.15', '2025-01-26 06:18:09'),
 (2586, 13, '3:28.45', '2025-01-26 06:18:09'),
 (2586, 13, '3:34.79', '2025-01-26 06:18:09'),
 (2586, 13, '3:30.21', '2025-01-26 06:18:09'),
 (2586, 13, '3:33.74', '2025-01-26 06:18:09'),
 (2596, 12, '38.79', '2025-01-26 06:18:09'),
 (2596, 12, '39.03', '2025-01-26 06:18:09'),
 (2596, 12, '41.29', '2025-01-26 06:18:09'),
 (2596, 12, '39.66', '2025-01-26 06:18:09'),
 (2596, 12, '41.13', '2025-01-26 06:18:09'),
 (2596, 12, '38.57', '2025-01-26 06:18:09'),
 (2596, 12, '39.40', '2025-01-26 06:18:09'),
 (2596, 12, '41.06', '2025-01-26 06:18:09'),
 (2596, 12, '40.37', '2025-01-26 06:18:09'),
 (2596, 12, '43.05', '2025-01-26 06:18:09'),
 (2596, 12, '37.85', '2025-01-26 06:18:09'),
 (2596, 6, '35.78', '2025-01-26 06:18:09'),
 (2596, 6, '36.19', '2025-01-26 06:18:09'),
 (2596, 6, '36.89', '2025-01-26 06:18:09'),
 (2596, 6, '34.29', '2025-01-26 06:18:09'),
 (2596, 6, '34.18', '2025-01-26 06:18:09'),
 (2596, 6, '35.94', '2025-01-26 06:18:09'),
 (2601, 2, '1:29.78', '2025-01-26 06:18:09'),
 (2601, 2, '1:28.38', '2025-01-26 06:18:09'),
 (2601, 2, '1:25.03', '2025-01-26 06:18:09'),
 (2601, 2, '1:25.66', '2025-01-26 06:18:09'),
 (2598, 2, '1:11.34', '2025-01-26 06:18:09'),
 (2598, 2, '1:05.81', '2025-01-26 06:18:09'),
 (2598, 2, '1:05.75', '2025-01-26 06:18:09'),
 (2598, 2, '1:05.82', '2025-01-26 06:18:09'),
 (2593, 1, '1:20.81', '2025-01-26 06:18:09'),
 (2593, 1, '1:23.61', '2025-01-26 06:18:09'),
 (2593, 1, '1:24.80', '2025-01-26 06:18:09'),
 (2593, 1, '1:22.05', '2025-01-26 06:18:09'),
 (2593, 1, '1:22.58', '2025-01-26 06:18:09'),
 (2593, 1, '1:23.94', '2025-01-26 06:18:09'),
 (2597, 3, '1:11.49', '2025-01-26 06:18:09'),
 (2597, 3, '1:10.16', '2025-01-26 06:18:09'),
 (2597, 3, '1:12.59', '2025-01-26 06:18:09'),
 (2597, 3, '1:11.63', '2025-01-26 06:18:09'),
 (2597, 3, '1:09.43', '2025-01-26 06:18:09'),
 (2586, 9, '1:36.72', '2025-01-26 06:18:09'),
 (2586, 9, '1:34.78', '2025-01-26 06:18:09'),
 (2586, 9, '1:34.05', '2025-01-26 06:18:09'),
 (2586, 9, '1:32.78', '2025-01-26 06:18:09'),
 (2586, 9, '1:33.51', '2025-01-26 06:18:09'),
 (2586, 9, '1:33.29', '2025-01-26 06:18:09'),
 (2586, 9, '1:36.47', '2025-01-26 06:18:09'),
 (2586, 9, '1:31.82', '2025-01-26 06:18:09'),
 (2593, 2, '1:33.36', '2025-01-26 06:18:09'),
 (2593, 2, '1:31.52', '2025-01-26 06:18:09'),
 (2593, 2, '1:28.10', '2025-01-26 06:18:09'),
 (2593, 2, '1:33.37', '2025-01-26 06:18:09'),
 (2593, 2, '1:32.89', '2025-01-26 06:18:09'),
 (2593, 2, '1:33.38', '2025-01-26 06:18:09'),
 (2593, 2, '1:32.03', '2025-01-26 06:18:09'),
 (2593, 2, '1:32.71', '2025-01-26 06:18:09')]

In [124]:
SQL = """delete from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [125]:
with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_GET_SWIMMER, (name, age,))
        s_id = db.fetchone()[0]
        db.execute(SQL_GET_EVENT, (distance, stroke,))
        e_id = db.fetchone()[0]
        with open(FOLDER+fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(SQL_INSERT, (s_id, e_id, t,))

In [126]:
SQL = """select count(*) from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()[0]
results

322

In [127]:
SQL = """select * from times limit 10"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(2661, 1, '1:21.43', '2025-01-26 06:18:11'),
 (2661, 1, '1:21.40', '2025-01-26 06:18:11'),
 (2661, 1, '1:21.62', '2025-01-26 06:18:11'),
 (2661, 1, '1:25.38', '2025-01-26 06:18:11'),
 (2662, 2, '1:22.57', '2025-01-26 06:18:11'),
 (2662, 2, '1:29.64', '2025-01-26 06:18:11'),
 (2662, 2, '1:20.39', '2025-01-26 06:18:11'),
 (2662, 2, '1:23.83', '2025-01-26 06:18:11'),
 (2663, 1, '1:15.57', '2025-01-26 06:18:11'),
 (2663, 1, '1:14.40', '2025-01-26 06:18:11')]